{% extends 'layout.html' %}

{% block title %}
    <title>Show Page</title>
{% endblock %}

{% block content %}
<center><h1>Show Courses</h1></center>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Courses ID</th>
        <th scope="col">Courses Name</th>
        <th scope="col">Price</th>
        <th scope="col">Email ID</th>
        <th scope="col">Address</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
    {% for i in obj %}
      <tr>
        <td>{{i.oid}}</td>
        <td>{{i.name}}</td>
        <td>{{i.price}}</td>
        <td>{{i.mail}}</td>
        <td>{{i.addr}}</td>
        <td>
            <button class="btn btn-warning"><a href="{% url 'update_url' i.oid %}">Update</a></button>&nbsp;&nbsp;
            <button class="btn btn-danger"><a href="{% url 'delete_url' i.oid %}">Delete</a></button>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}